 <div class="jumbotron search-bg" >
   <div class="row" style="text-align: center;">
     <!--<img src="assets/feellike.png" alt=""/>-->
     <h1 style="color:#fff;font-size: 80px;font-family: sans-serif;">I FEEL LIKE...</h1>
   </div>
   <div class="row">
  <div class="input-group" style="padding-top:20px;width:300px;padding-bottom:20px;">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn" >
        <button class="btn btn-default" type="button" routerLink="/timeline/Rachel/1" >Go!</button>
      </span>
    </div>
    </div>
  </div>