.sebm-google-map-container {
  height: 600px;
  margin-left: 20px;
  /*height: 100%;*/
  /*width: 300px;*/
}
.fixed-right{
    position:fixed;
    right: 10px;
}

.tl-title {
  font-family: "Chalkduster", fantasy;
}

.tl-pics {
  /*padding-top: 8px;*/
}

/*.bd {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

/*body {
  background-image: image-url('assets\nepal-1309205_960_720.jpg')
}*/
.profile_image {
  width:100px;
  height:100px;
}
.tl_name{
  font-family: cursive;
  color:#FF69B4;
  text-align: center;
}